body{
  font-family: Roboto;
  background-color: #ABD5F5;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 3em;
}

header, footer{
  text-align: center;
  color: #09385B;
}

#reset-button{
  margin: auto;
  width: 300px;
  height: 50px;
  box-shadow: 0px 4px 8px rgba(89,73,30, 0.16);
  border: none;
  background-color: #1B94F1;
  color: white;
}

#reset-button:hover {
  color: #09385B;
  background-color: white;
}

textarea[name="user-input"]{
  height: 10em;
  width: 50%;
  margin: 0 auto;
  align-self: center;
}

div{
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

h1{
  font-size: 4em;
  margin-top: 0em;
  margin-bottom: 0.5em;
  text-align: center;
  color: #09385B;
}

p{
  margin-bottom: 1em;
  font-size: small;
}

table{
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  margin-bottom: 1em;
}

section>div{
  padding: 20px;
}

ul{
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 0;
}

.stats {
  padding: 10px;
}

.stats:hover {
  background-color: #dbeeff;
  color: hsl(206, 82%, 20%);
}


