body{
  font-family: Roboto;
  background-color: #ABD5F5;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
}

.nav-ul{
  list-style-type: none;
  margin: 3em;
  padding: 0;
}

li {
  display: inline;
}

.li-right{
  float: right;
  text-decoration-line: none;
  background-color: #1B94F1;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 3em;
  padding-right: 3em;
  border-radius: 2em;
}

a.li-right{
  color: white;
}

img{
  width: 3em;
}

.titulo, footer{
  text-align: center;
  color: #09385B;
}

footer{
  margin-top: 3em;
}

.conteo-ul{
  margin-top: 2em;
  margin-bottom: 2em;
}

input{
  height: 10em;
  width: 50%;
  margin: 0 auto;
  align-self: center;
}

.ingresar{
  display: flex;
}

h1{
  font-size: 4em;
  margin-top: 0em;
  margin-bottom: 0.5em;
  text-align: center;
  color: #09385B;
}

h7{

  margin-top: 5em;
  margin-bottom: 1em;
  font-size:small;
}

table{
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  margin-bottom: 1em;
}



.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  text-align: center;
}

.container ul {
  list-style-type: none; /* Quita los puntos de la lista */
  padding: 0;
}

.container ul li {
  padding: 10px;
}

